@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@font-face {
  font-family: "Eight One";
  src: url("EIGHT_ONE_font_by_dree23km.eot?") format("eot"), url("EIGHT_ONE_font_by_dree23km.woff") format("woff"), url("EIGHT_ONE_font_by_dree23km.ttf") format("truetype"), url("EIGHT_ONE_font_by_dree23km.svg#EightOne") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
color: #53697C; }

body,
html {
	width: 100%;
	height: 100%;
}

header {
	background-color: #31333F;
	height: 237px;
}

.logo-container {
	margin: auto;
	position: relative;
	width: 252px;
	height: 233px;
	/*background: #fff url(../img/bg.png) 0 0 no-repeat 252px 233px;*/
	padding-bottom: 30px;
	background: url("../img/bg-aqua.png");
/*	background-size: 252px 233px;*/
	background-repeat: no-repeat;
	padding-top: 40px;
}

.logo-container > img {
	position: absolute;
	top: 23px;
	left: 16px;
}

/*Cars section*/
section#cars {
	background-image: url(../img/bg-cloud.png);
	background-repeat: no-repeat;
	background-position: top left;
	/*background-color: #E2E7ED;*/
	/*box-shadow: 10px 10px 5px #888888;*/
	padding-bottom: 35px;
	padding-top: 47px;
}

section#cars h2 {
	text-align: center;
	/*font-family: "Rubik";*/
	font-family: "Open Sans", sans-serif;
	/*font-weight: 700;*/
	/*color: #329acd;*/
	color: #53697C;
	padding-bottom: 55px;
}

.car-header {
	font-family: "Rubik";
	font-weight: 700;
	font-size: 16px;
	position: absolute;
	top: 30px;
	left: 180px;
	text-align: center;
}

.car-sprite-aqua {
	position: relative;
	width: 482px;
	height: 221px;
	background: url("../img/car-sprite-aqua.png");
	background-repeat: no-repeat;
	margin: auto;
}

.car-sprite-aqua > .car-header {
	color: #15a2ab 
}

.car-sprite-red {
	position: relative;
	width: 482px;
	height: 221px;
	background: url("../img/car-sprite-red.png");
	background-repeat: no-repeat;
	margin: auto;
}

.car-sprite-red > .car-header {
	color: #b2161a
}

.car-sprite-blue {
	position: relative;
	width: 482px;
	height: 221px;
	background: url("../img/car-sprite-blue.png");
	background-repeat: no-repeat;
	margin: auto;
}

.car-sprite-blue > .car-header {
	color: #00508c;
}

.cloud-wrap {
	margin-top: 10px;
}

.cloud-container {
    position: relative;
    display: inline-block;
    background-image: url("../img/cloud-bg.png");
    width: 250px;
    height: 100px;
    font-size: 18px;
    margin-bottom: 20px;
}

.cloud-container .cloud-text {
	font-family: "Open Sans", sans-serif;
    font-size: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tri-cloud-container {
    position: relative;
    /*display: inline-block;*/
    margin: auto;
    background-image: url("../img/tri-cloud.png");
    width: 320px;
    height: 128px;
    font-size: 18px;
    margin-bottom: 20px;
}

.tri-cloud-container .tri-cloud-text {
    font-size: 18px;
    position: absolute;
    top: 27px;
    left: 86px;
}

.tri-cloud-text span {
    font-family: "Eight One";
    display: inline-block;
    color: #0C6837;
    font-weight: bold;
    font-size: 24px;
}

/*section how*/
section#how {
	padding-bottom: 40px;
	padding-top: 10px;
}

section#how h2 {
	color: #53697C;
	text-align: center;
	/*font-family: "Rubik";*/
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	padding-bottom: 35px;
}

section#how .panel {
	/*font-family: "Rubik";*/
	font-family: "Open Sans", sans-serif;
	background-color: #e2e7ed;
	box-shadow: 2px 5px 4px #888888;
	text-align: center;
	/*font-weight: 500;*/
	color: #303338;
	/*min-height: 90px*/
}

section#how .panel-body {
	padding: 25px 5px;
}


.container-contact {
	background-color: #43b5ad;
	padding: 15px 20px;
	color: #fff;
	border-bottom: 2px solid #276860;
}

.container-contact > img {
	margin-right: 16%;
}

.container-contact-big {
	text-align: center;
    position: relative;
    padding: 29px 20px;
    margin-top: 12px;
}

.container-contact-big > img {
    position: absolute;
    top: 15px;
    left: 20px;
}

.contact-wrap {
	/*padding-top: 100px;*/
}

.contact-wrap img {
	display: none;
}

/*requirements*/
section#requirements h2 {
	/*font-family: "Rubik";*/
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	padding-bottom: 20px;
	text-align: center;
	padding-left: 10px;
}

section#requirements {
	/*background-color: #e2e7ed;*/
	padding-bottom: 60px;
	padding-top: 20px;
}

section#requirements ul {
	padding-left: 10px;
	/*direction: rtl;*/
}

section#requirements li {
	color: #68696b;
	font-size: 20px;
}

/*footer*/
footer {
	padding-top: 45px;
	padding-bottom: 45px;
	background-color: #31333f;
	color: #fff;
}

footer ul {
	list-style-type: none;
	padding-left: 0;
}

footer li {
	display: inline-block;
}

li.sep {
	padding: 0 14px;
	font-size: 18px;
}

footer li a, a:hover{
	color: #fff
}

.horiontal-list {
	text-align: center;
}

.copyright {
	text-align: center;
}

.social-buttons {
	text-align: center;
}

.social-buttons li {
	padding-left: 10px;
	padding-bottom: 10px;
}


.dot {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  display: block;
  margin: 0 auto 0 auto;
  background: #63CEFF;
  margin-bottom: -5px; }


.image-box {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 130px;
  height: 130px;
  display: box;
  margin: 0 auto 15px auto; }
  .image-box.connect {
    background-image: url(../img/connect.png); }
  .image-box.convenience {
    background-image: url(../img/convenience.png); }
  .image-box.money {
    background-image: url(../img/money.png); }
  .image-box.time {
    background-image: url(../img/time.png); }

.arrow_box {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 50px;
  text-align: center;
  height: 70px; }
  .arrow_box.connect-color {
    border-color: #4285F4; }
    .arrow_box.connect-color:before {
      border-bottom-color: #4285F4; }
  .arrow_box.convenience-color {
    border-color: #F18124; }
    .arrow_box.convenience-color:before {
      border-bottom-color: #F18124; }
  .arrow_box.money-color {
    border-color: #8BC34A; }
    .arrow_box.money-color:before {
      border-bottom-color: #8BC34A; }
  .arrow_box.time-color {
    border-color: #8129A6; }
    .arrow_box.time-color:before {
      border-bottom-color: #8129A6; }

.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px; }

.arrow_box:before {
  border-color: #fff;
  border-bottom-color: #ccc;
  border-width: 9px;
  margin-left: -9px; }

.box-title {
  font-size: 18px;
  color: #53697C;
  font-weight: bold;
  margin: 0 0 5px 0; }

.box-text {
  font-size: 16px;
  color: #53697C;
  margin: 0; }

.logo-footer {
	display: inline-block;
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 143px;
	height: 24px;
	margin-bottom: 5px; }



.line {
  width: 100%;
  height: 0;
  border-top: 1px solid #53697C; }

.page-title {
   font-size: 28px;
   display: inline-block;
   text-align: center;
   margin: -23px auto 50px auto;
   background-color: #fff;
   /*color: #53697C;*/
   padding: 0 25px 0 25px;
   max-width: 550px;
   vertical-align: middle; }


@media(min-width:767px) {
  section#requirements ul {
  	padding-left: 0;
  }
  .contact-wrap img {
  	display: inline-block;
  }
  .social-buttons {
  	text-align: right;
  }
  .horiontal-list {
  	text-align: left;
  }
  .copyright {
  	text-align: left;
  }
  section#requirements h2 {
  	text-align: left;
  }

}
@media(max-width:767px) {
	.copyright {
	    text-align: left;
	}
	.social-buttons {
	    text-align: right;
	}
	h2 {
		font-size: 24px;
	}

}
@media (max-width: 532px) {
	.no-gutter > [class*='col-'] {
	  padding-right: 5px;
	  padding-left: 5px; }
	.car-sprite-aqua {
		width: 285px;
		height: 131px;
		background: url("../img/car-sprite-aqua-xs.png");
	}

	.car-sprite-red {
		width: 285px;
		height: 131px;
		background: url("../img/car-sprite-red-xs.png");
	}

	.car-sprite-blue {
		width: 285px;
		height: 131px;
		background: url("../img/car-sprite-blue-xs.png");
	}
	.cloud-container {
	    width: 226px;
	    height: 50px;
	}
	.cloud-container .cloud-text {
	    font-size: 14px;
	}
	.car-header {
	    font-size: 14px;
	    top: 19px;
	    left: 50px;
	}
	.box-text {
	  font-size: 10px; }

	.box-title {
	  font-size: 10px; }

	.arrow-box {
	  margin-bottom: 0; 
	  height: 82px;
	}
	.image-box {
	  width: 70px;
	  margin: 0 auto 0 auto; }
}